/*-------GLOBAL VARIABLES-------*/
:root {
    --sidenav-width: 100%;
}

/*----------NAVIGATION BAR----------*/
.header {
    justify-content: center;
}

.header__title {
    margin: 0;
}

@media screen and (max-width: 400px) {
    .header {
        height: 45px;
    }

    .header__title {
        font-size: 20px;
    }

    .header__sidenav-btn {
        margin-right: 0;
    }
}

/*-------INTRODUCTION SECTION-------*/
@media screen and (max-width: 500px) {
    .introduction__text {
        right: 10px;
        font-size: 16px;
    }
}

/*----------ARTICLES SECTION ----------*/
.section-of-articles {
    padding: 0;
}

.section-of-articles__intro {
    flex: 1 1 301px;
    height: 450px;
    margin: 6px 0 0 0;
}

.section-of-articles__title {
    font-size: 25px;
}

.section-of-articles__description {
    margin: 5px;
    font-size: 17px;
}

.section-of-articles__link {
    margin-top: 10px;
    font-size: 15px;
}

.section-of-articles__img-block img {
    width: 320px;
}

@media screen and (max-width: 320px) {
    .section-of-articles__intro {
        height: 400px;
    }

    .section-of-articles__img-block img {
        width: 280px;
    }
}

/*---------------CONTACTS---------------*/
.contacts__header-block{
    margin-top: 140px;
}

.contacts__header-block h1 {
    font-size: 30px;
}

.contacts__links {
    width: 280px;
    margin-top: 40px;
    margin-bottom: 100px;
}

.icons a {
    font-size: 30px;
}

@media screen and (max-width: 400px) {
    .contacts__header-block h1 {
        font-size: 25px;
    }

    .icons a {
        font-size: 25px;
    }

    .contacts__links {
        width: 250px;
    }
}